@mixin form-page-style {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
$background-color: #000;

body{
  background: $background-color;
  color: #fff;
  margin: 0;
  font-size: 16px;
  min-width: 320px;

  .login{
    @include form-page-style;
    margin-top: 60px;

    .link{
      width: 100vw;
      background: rgb(189, 68, 207);
      color: #fff;
      height: 30px;
      font-size: 1.1rem;
      border: none;
      position: fixed;
      bottom: 0;
      left: 0;
    }

    form{
      @include form-page-style;

      div{
        @include form-page-style;
        align-items: flex-start;
      }

      *{
        margin: 5px 0;
        width: 56vw;
        border: none;
        border-radius: 3px;
      }
      input{
        background: #fff;
        height: 26px;
        padding-left: 3px;
      }
      button{
        height: 30px;
        background: rgb(189, 68, 207);
        color: #fff;
        margin-bottom: 40px;
      }
    }
  }

  .messagesPage{
    margin-bottom: 50px;
    @include form-page-style;

    h1{
      font-size: 1.5rem;
      height: 32px;
      text-align: center;
      align-self: center;
      position: fixed;
      top:0;
      background: rgb(12, 82, 147);
      margin-top: 0;
      width: 100vw;
      min-width: 320px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 2px rgba(50,50, 150, 0.75);
    }

    .messages{
      width: 90vw;
      min-width: 320px;
      max-width: 414px;
      display: flex;
      flex-flow: column;
      align-self: center;
      margin-top: 60px;

      *{
        width: 40%;
        padding: 6px;
        border-radius: 6px;
        margin: 6px 6vw;
      }

      .from{
        align-self: flex-start;
        justify-content: center;
        background: rgb(33, 150, 23);
      }
      .to{
        align-self: flex-end;
        justify-content: center;
        background: rgb(13, 72, 173);
      }
    }
    .input{
      width: 96vw;
      position: fixed;
      left: auto;
      bottom: 0;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      background: $background-color;

      textarea{
        width: 76%;
        margin-right: 2vw;
        height: 26px;
        resize: none;
        font-size: 1.1rem;
        padding-top: 8px;
        min-width: 200px;
      }

      button{
        border: none;
        border-radius: 3px;
        width: 22%;
        background: rgb(50, 196, 32);
        color: #fff;
        font-size: 1.1rem;
        min-width: 40px;
      }
    }
  }
}
